@model RealEstate.Libs.Models.v_yeucau_chi_tiet
@{
    ViewBag.Title = "Chỉ định căn hộ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dx-datagrid .dx-header-filter {
        position: relative;
        color: blue;
        font: 14px/1 DXIcons;
    }

    .dx-datagrid .dx-header-filter-empty {
        color: rgba(149,149,149,.5);
    }
</style>
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <button class="btn btn-icon mr-4" id="kt_aside_toggle">
            <span class="svg-icon svg-icon-xl">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M2 11.5C2 12.3284 2.67157 13 3.5 13H20.5C21.3284 13 22 12.3284 22 11.5V11.5C22 10.6716 21.3284 10 20.5 10H3.5C2.67157 10 2 10.6716 2 11.5V11.5Z" fill="black" />
                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M9.5 20C8.67157 20 8 19.3284 8 18.5C8 17.6716 8.67157 17 9.5 17H20.5C21.3284 17 22 17.6716 22 18.5C22 19.3284 21.3284 20 20.5 20H9.5ZM15.5 6C14.6716 6 14 5.32843 14 4.5C14 3.67157 14.6716 3 15.5 3H20.5C21.3284 3 22 3.67157 22 4.5C22 5.32843 21.3284 6 20.5 6H15.5Z" fill="black" />
                    </g>
                </svg>
            </span>
        </button>
        <div class="d-flex align-items-baseline flex-wrap mr-5">
            <h5 class="text-dark font-weight-bold my-1 mr-5">
                Chỉ định căn hộ #@Model.id
            </h5>
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted">@Resources.App.YeuCau_YeuCau</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="" class="text-muted"> @Resources.App.YeuCau_QuanLyYeuCau</a>
                </li>
            </ul>
        </div>
    </div>
    @if (User.IsInRole("0=0") || User.IsInRole("18=1"))
    {
        <div class="d-flex align-items-center">
            <a href="@Url.Action("Index","GuiYeuCau")" class="btn btn-default font-weight-bold  px-3 font-size-base  mr-2" data-toggle="tooltip" data-theme="dark" title="Quay lại danh sách">  @Resources.App.QuayLai</a>
            <a href="@Url.Action("ChinhSua","GuiYeuCau")?id=@Model.id" class="btn btn-info font-weight-bold btn-sm px-3 font-size-base ml-2" data-toggle="tooltip" data-theme="dark" title="Chỉnh sửa nhu cầu của khách hàng">
                <i class="flaticon-edit-1"></i>  Sửa yêu cầu
            </a>
            <div class="btn-group ml-2">
                <button type="button" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base" onclick="AddChiDinhCanHo()" >
                    <i class="icon-1x text-dark-50 ki ki-solid-plus"></i>
                    Thêm chỉ định
                </button>
            </div>
        </div>
    }
}
<div class="card card-custom gutter-b">
    <div class="card-body">
        <!--begin::Top-->
        <div class="d-flex">
            <!--begin::Pic-->
            <div class="flex-shrink-0 mr-7">
                <div class="symbol symbol-50 symbol-lg-120 symbol-circle symbol-light-danger">
                    <span class="display-1 symbol-label font-weight-boldest">
                        @{
                            var ten = Model.ten_khach_hang.Trim().Split(' ');
                            string kh = ten[ten.Length - 1].Substring(0, 1);
                            ViewContext.Writer.Write(kh);
                        }
                    </span>
                </div>
            </div>
            <!--end::Pic-->
            <!--begin: Info-->
            <div class="flex-grow-1">
                <!--begin::Title-->
                <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                    <!--begin::User-->
                    <div class="w-100">
                        <!--begin::Name-->
                        <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                            <div class="d-flex flex-wrap my-2">
                                <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                    <a class=" text-dark text-hover-primary font-size-h3 font-weight-bold ">   @Model.ten_khach_hang</a>
                                </div>
                            </div>
                        </div>
                        <!--end::Name-->
                        <!--begin::Contacts-->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex flex-wrap my-2">
                                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                        <span class="mr-4">
                                            <span class="svg-icon svg-icon-2x svg-icon-warning">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M13.0799676,14.7839934 L15.2839934,12.5799676 C15.8927139,11.9712471 16.0436229,11.0413042 15.6586342,10.2713269 L15.5337539,10.0215663 C15.1487653,9.25158901 15.2996742,8.3216461 15.9083948,7.71292558 L18.6411989,4.98012149 C18.836461,4.78485934 19.1530435,4.78485934 19.3483056,4.98012149 C19.3863063,5.01812215 19.4179321,5.06200062 19.4419658,5.11006808 L20.5459415,7.31801948 C21.3904962,9.0071287 21.0594452,11.0471565 19.7240871,12.3825146 L13.7252616,18.3813401 C12.2717221,19.8348796 10.1217008,20.3424308 8.17157288,19.6923882 L5.75709327,18.8875616 C5.49512161,18.8002377 5.35354162,18.5170777 5.4408655,18.2551061 C5.46541191,18.1814669 5.50676633,18.114554 5.56165376,18.0596666 L8.21292558,15.4083948 C8.8216461,14.7996742 9.75158901,14.6487653 10.5215663,15.0337539 L10.7713269,15.1586342 C11.5413042,15.5436229 12.4712471,15.3927139 13.0799676,14.7839934 Z" fill="#000000" />
                                                        <path d="M14.1480759,6.00715131 L13.9566988,7.99797396 C12.4781389,7.8558405 11.0097207,8.36895892 9.93933983,9.43933983 C8.8724631,10.5062166 8.35911588,11.9685602 8.49664195,13.4426352 L6.50528978,13.6284215 C6.31304559,11.5678496 7.03283934,9.51741319 8.52512627,8.02512627 C10.0223249,6.52792766 12.0812426,5.80846733 14.1480759,6.00715131 Z M14.4980938,2.02230302 L14.313049,4.01372424 C11.6618299,3.76737046 9.03000738,4.69181803 7.1109127,6.6109127 C5.19447112,8.52735429 4.26985715,11.1545872 4.51274152,13.802405 L2.52110319,13.985098 C2.22450978,10.7517681 3.35562581,7.53777247 5.69669914,5.19669914 C8.04101739,2.85238089 11.2606138,1.72147333 14.4980938,2.02230302 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <div class="d-flex flex-column text-dark-75">
                                            <span class="font-weight-bolder font-size-sm">Điện thoại</span>
                                            <span class="font-weight-bolder font-size-h5">
                                                @Model.so_dien_thoai
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                        <span class="mr-4">
                                            <span class="svg-icon svg-icon-2x svg-icon-danger">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <path d="M9.82829464,16.6565893 C7.02541569,15.7427556 5,13.1079084 5,10 C5,6.13400675 8.13400675,3 12,3 C15.8659932,3 19,6.13400675 19,10 C19,13.1079084 16.9745843,15.7427556 14.1717054,16.6565893 L12,21 L9.82829464,16.6565893 Z M12,12 C13.1045695,12 14,11.1045695 14,10 C14,8.8954305 13.1045695,8 12,8 C10.8954305,8 10,8.8954305 10,10 C10,11.1045695 10.8954305,12 12,12 Z" fill="#000000"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <div class="d-flex flex-column text-dark-75">
                                            <span class="font-weight-bolder font-size-sm">Địa chỉ</span>
                                            <span class="font-weight-bolder font-size-h5">
                                                @if (string.IsNullOrEmpty(Model.dia_chi))
                                                {
                                                    <span>Chưa có</span>
                                                }
                                                else
                                                {
                                                    <b>@Model.dia_chi</b>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                        <span class="mr-4">
                                            <span class="svg-icon svg-icon-2x svg-icon-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                        <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <div class="d-flex flex-column text-dark-75">
                                            <span class="font-weight-bolder font-size-sm">Người phụ trách</span>
                                            <span class="font-weight-bolder font-size-h5">
                                                @Model.nguoi_phu_trach
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                                        <span class="mr-4">
                                            <span class="svg-icon svg-icon-2x svg-icon-info">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <polygon fill="#000000" opacity="0.3" points="5 15 3 21.5 9.5 19.5" />
                                                        <path d="M13.5,21 C8.25329488,21 4,16.7467051 4,11.5 C4,6.25329488 8.25329488,2 13.5,2 C18.7467051,2 23,6.25329488 23,11.5 C23,16.7467051 18.7467051,21 13.5,21 Z M8.5,13 C9.32842712,13 10,12.3284271 10,11.5 C10,10.6715729 9.32842712,10 8.5,10 C7.67157288,10 7,10.6715729 7,11.5 C7,12.3284271 7.67157288,13 8.5,13 Z M13.5,13 C14.3284271,13 15,12.3284271 15,11.5 C15,10.6715729 14.3284271,10 13.5,10 C12.6715729,10 12,10.6715729 12,11.5 C12,12.3284271 12.6715729,13 13.5,13 Z M18.5,13 C19.3284271,13 20,12.3284271 20,11.5 C20,10.6715729 19.3284271,10 18.5,10 C17.6715729,10 17,10.6715729 17,11.5 C17,12.3284271 17.6715729,13 18.5,13 Z" fill="#000000" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </span>
                                        <div class="d-flex flex-column text-dark-75">
                                            <span class="font-weight-bolder font-size-sm">Ghi chú</span>
                                            <span class="font-weight-bolder font-size-h5">
                                                @if (string.IsNullOrEmpty(Model.ghi_chu))
                                                {
                                                    <span>Yêu cầu không có ghi chú</span>
                                                }
                                                else
                                                {
                                                    <b>Ghi chú:</b> <span>@Model.ghi_chu</span>
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-5 px-md-0 mt-5">
            <div class="col-md-9">
                <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                    <div class="d-flex flex-column mb-10 mb-md-0">
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span>   <span> Nhu cầu:</span>
                            </span>
                            <span class="text-right font-weight-bolder">@Model.ten_loai_nhu_cau</span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span>  Dự án:
                            </span>
                            <span class="text-right font-weight-bolder">@Model.du_an</span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span> Diện tích:
                            </span>
                            <span class="text-right  font-weight-bolder">
                                @if (Model.dt_quan_tam_tu!= null && Model.dt_quan_tam_tu > 0)
                                {<span>@Model.dt_quan_tam_tu.Value.ToString("G29")</span>}  @if (Model.dt_quan_tam_den != null && Model.dt_quan_tam_den > 0)
                                {<span>- @Model.dt_quan_tam_den</span>}  <span class="text-dark-50 font-weight-bold">㎡</span>
                            </span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span> Giá quan tâm:
                            </span>
                            <span class="text-right font-weight-bolder">@Model.gia_tu - @Model.gia_den</span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span> Số phòng ngủ:
                            </span>
                            <span class="text-right font-weight-bolder">@Model.so_phong_ngu</span>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-10 mb-md-0">
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span>Tầng:
                            </span>
                            <span class="text-right font-weight-bolder">
                                @Model.tang_thap_nhat - @Model.tang_cao_nhat
                            </span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span>Hướng ban công:
                            </span>
                            <span class="text-right font-weight-bolder">@Model.huong_ban_cong</span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span>Hướng cửa:
                            </span>
                            <span class="text-right font-weight-bolder">@Model.huong_cua</span>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span>Views:
                            </span>
                            <span class="text-right font-weight-bolder">@Model.views</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="mr-15 font-weight-bold">
                                <span class="dot bg-light-dark mr-2"></span>Tiện ích bổ sung:
                            </span>
                            <span class="text-right font-weight-bolder">@Model.tien_ich_bo_sung</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-solid my-7">
        </div>
        <div class="font-weight-bolder font-size-lg mb-2 mt-6">CÁC CĂN HỘ ĐƯỢC CHỈ ĐỊNH</div>
        <div class="row justify-content-md-center  draggable-zone" id="pnchidinh">
        </div>
    </div>
</div>
<div class="card card-custom gutter-b ">
    <div class="card-body pt-3 mt-3 pb-0">
        <div class="row hide">
            <div class="form-group col-lg-4 mb-2">
                <label class="form-label">Mã dự án</label>
                <div id="select-duan">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Tháp</label>
                <div id="select-thap">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Tầng </label>
                <div id="select-tang">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Mã căn</label>
                <div id="select-socan">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Tình trạng CH</label>
                <div id="select-tinhtrangcanho">
                </div>
            </div>
        </div>
        <div class="row  hide">
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Loại căn hộ</label>
                <div id="select-loaicanho">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Loại bàn giao</label>
                <div id="select-loaibangiao">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Số PN</label>
                <div id="select-sophongngu">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Hướng cửa</label>
                <div id="select-huongcua">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Hướng ban công</label>
                <div id="select-huongbancong">
                </div>
            </div> <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Khách hàng</label>
                <input type="text" class="form-control" id="txt-khachhang" />
            </div>
        </div>
        <div class="row  hide mb-4">

            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Views</label>
                <div id="select-view">
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Diện tích</label>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center">
                            <div id="txt-dt_quan_tam_tu">

                            </div>
                            <span class="ml-1 mr-1">-</span>
                            <div id="txt-dt_quan_tam_den">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Giá bán</label>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center">
                            <div id="txt-gia_ban_tu">

                            </div>
                            <span class="ml-1 mr-1">-</span>
                            <div id="txt-gia_ban_den">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Giá bán USD</label>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center">
                            <div id="txt-gia_ban_tu_usd">

                            </div>
                            <span class="ml-1 mr-1">-</span>
                            <div id="txt-gia_ban_den_usd">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Giá thuê</label>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center">
                            <div id="txt-gia_thue_tu">

                            </div>
                            <span class="ml-1 mr-1">-</span>
                            <div id="txt-gia_thue_den">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-2 mb-2">
                <label class="form-label">Giá thuê USD</label>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center">
                            <div id="txt-gia_thue_tu_usd">

                            </div>
                            <span class="ml-1 mr-1">-</span>
                            <div id="txt-gia_thue_den_usd">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="list_danh_sach">
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none!important" id="pntemp">
    <div class="col-lg-3  draggable" id="ch_rep_can_ho" data-id="rep_can_ho">
        <div class="card card-custom bg-gray-200 mb-5">
            <div class="card-header pl-2 pr-2 pt-3 pb-0 mb-0">
                <h3 class="card-title align-items-start flex-column  pb-0 mb-0">
                    repLinkCanHo
                    <span class="font-weight-bolder font-size-h5 text-danger mt-2">rep_gia</span>
                </h3>
                <div class="card-toolbar  pb-0 mb-0">

                    <div class="btn btn-link" title="Xóa căn hộ" data-toggle="tooltip" data-theme="dark" onclick="XoaCanHo(rep_can_ho)">
                        <i class="flaticon-circle text-danger icon-2x"></i>
                    </div>
                    <div class="btn btn-icon btn-sm  draggable-handle">
                        <i class="icon-2x text-info flaticon-background"></i>
                    </div>

                </div>
            </div>
            <div class="card-body  pl-2 pr-2 pt-0 mt-0 pb-2">
                <div class="separator separator-solid separator-white mb-2 pt-0 mt-0">
                </div>
                <div class="d-flex flex-wrap my-2">
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="svg-icon  svg-icon-success mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path d="M4,22 L2,22 C2,19.2385763 4.23857625,18 7,18 L17,18 C19.7614237,18 22,19.2385763 22,22 L20,22 C20,20.3431458 18.6568542,20 17,20 L7,20 C5.34314575,20 4,20.3431458 4,22 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <rect fill="#000000" x="1" y="14" width="22" height="6" rx="1" />
                                    <path d="M13,13 L11,13 L11,12 C11,11.4477153 10.5522847,11 10,11 L6,11 C5.44771525,11 5,11.4477153 5,12 L5,13 L4,13 C3.44771525,13 3,12.5522847 3,12 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12 C21,12.5522847 20.5522847,13 20,13 L19,13 L19,12 C19,11.4477153 18.5522847,11 18,11 L14,11 C13.4477153,11 13,11.4477153 13,12 L13,13 Z" fill="#000000" opacity="0.3" />
                                </g>
                            </svg>
                        </span>
                        <b class="pt-1">rep_so_phong_ngu</b>
                    </div>
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="svg-icon  svg-icon-success mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M6,10 C6,10.5522847 5.55228475,11 5,11 C4.44771525,11 4,10.5522847 4,10 L4,6 C4,4.34314575 5.34314575,3 7,3 C8.65685425,3 10,4.34314575 10,6 C10,6.55228475 9.55228475,7 9,7 C8.44771525,7 8,6.55228475 8,6 C8,5.44771525 7.55228475,5 7,5 C6.44771525,5 6,5.44771525 6,6 L6,10 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M6,20 L4,20 C4,17.2385763 6.23857625,16 9,16 L15,16 C17.7614237,16 20,17.2385763 20,20 L18,20 C18,18.3431458 16.6568542,18 15,18 L9,18 C7.34314575,18 6,18.3431458 6,20 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path d="M2,9 L23,9 L22.4942047,13.5521576 C22.2128532,16.084321 20.0725321,18 17.524786,18 L7.47521397,18 C4.92746788,18 2.78714678,16.084321 2.50579529,13.5521576 L2,9 Z M19.25,11.5 C19.25,12.9305987 18.694479,14.0416408 17.55,14.9 C17.2186292,15.1485281 17.1514719,15.6186292 17.4,15.95 C17.6485281,16.2813708 18.1186292,16.3485281 18.45,16.1 C19.9721877,14.9583592 20.75,13.4027346 20.75,11.5 C20.75,11.0857864 20.4142136,10.75 20,10.75 C19.5857864,10.75 19.25,11.0857864 19.25,11.5 Z" fill="#000000" />
                                </g>
                            </svg>
                        </span>
                        <b class="pt-1">rep_so_wc</b>
                    </div>
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="svg-icon  svg-icon-success mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect opacity="0.300000012" x="0" y="0" width="24" height="24" />
                                    <polygon fill="#000000" fill-rule="nonzero" opacity="0.3" points="7 4.89473684 7 21 5 21 5 3 11 3 11 4.89473684" />
                                    <path d="M10.1782982,2.24743315 L18.1782982,3.6970464 C18.6540619,3.78325557 19,4.19751166 19,4.68102291 L19,19.3190064 C19,19.8025177 18.6540619,20.2167738 18.1782982,20.3029829 L10.1782982,21.7525962 C9.63486295,21.8510675 9.11449486,21.4903531 9.0160235,20.9469179 C9.00536265,20.8880837 9,20.8284119 9,20.7686197 L9,3.23140966 C9,2.67912491 9.44771525,2.23140966 10,2.23140966 C10.0597922,2.23140966 10.119464,2.2367723 10.1782982,2.24743315 Z M11.9166667,12.9060229 C12.6070226,12.9060229 13.1666667,12.2975724 13.1666667,11.5470105 C13.1666667,10.7964487 12.6070226,10.1879981 11.9166667,10.1879981 C11.2263107,10.1879981 10.6666667,10.7964487 10.6666667,11.5470105 C10.6666667,12.2975724 11.2263107,12.9060229 11.9166667,12.9060229 Z" fill="#000000" />
                                </g>
                            </svg>
                        </span>
                        <b class="pt-1">Cửa rep_huong_cua</b>
                    </div>
                    <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                        <span class="svg-icon  svg-icon-success mr-1">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path d="M3.5,3 L9.5,3 C10.3284271,3 11,3.67157288 11,4.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L3.5,20 C2.67157288,20 2,19.3284271 2,18.5 L2,4.5 C2,3.67157288 2.67157288,3 3.5,3 Z M9,9 C8.44771525,9 8,9.44771525 8,10 L8,12 C8,12.5522847 8.44771525,13 9,13 C9.55228475,13 10,12.5522847 10,12 L10,10 C10,9.44771525 9.55228475,9 9,9 Z" fill="#000000" opacity="0.3" />
                                    <path d="M14.5,3 L20.5,3 C21.3284271,3 22,3.67157288 22,4.5 L22,18.5 C22,19.3284271 21.3284271,20 20.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,4.5 C13,3.67157288 13.6715729,3 14.5,3 Z M20,9 C19.4477153,9 19,9.44771525 19,10 L19,12 C19,12.5522847 19.4477153,13 20,13 C20.5522847,13 21,12.5522847 21,12 L21,10 C21,9.44771525 20.5522847,9 20,9 Z" fill="#000000" transform="translate(17.500000, 11.500000) scale(-1, 1) translate(-17.500000, -11.500000) " />
                                </g>
                            </svg>
                        </span>
                        <b class="pt-1">BC rep_huong_ban_cong</b>
                    </div>
                    <div class="d-flex align-items-center flex-lg-fill my-1">
                        <b class="pt-1 text-warning"> rep_dien_tich ㎡</b>
                    </div>
                </div>
                <div class="separator separator-solid separator-white my-2">
                </div>
                <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                    <div class="mr-3">
                        <a class="d-flex align-items-center text-secondary font-size-h5 font-weight-bold mr-3">Ảnh thực tế</a>
                        <div class="d-flex flex-wrap my-2">
                            repHinh
                        </div>
                    </div>
                    <div class="my-lg-0 my-1">
                        repCopy
                    </div>
                </div>
                <div class="separator separator-solid separator-white my-2">
                </div>
                <div class="form-group row">
                    <label class="col-5 col-form-label font-weight-bold">Ngày giờ xem nhà</label>
                    <div class="col-7"><div id="dt_rep_can_ho"></div></div>
                </div>
                <div class="separator separator-solid separator-white my-2">
                </div>
                <div class="d-flex justify-content-center p-2">
                    repXemNha
                </div>
                <div class="form-group row mb-1 pb-1">
                    <div class="col-12">
                        repGhiChu
                    </div>
                </div>
                <div class=" d-flex justify-content-end">
                    repLuuGhiChu
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsFile{
    <script src="~/Content/plugins/customs/draggable/draggable.bundle.js"></script>
}
@section CustomScripts{
    <script type="text/javascript">
        var dataSoure = [], dataSoure_Filter = [], link_canho = '@Url.Action("ChiTietCanHo", "CanHo")', first_load = true;
        $('body').addClass('subheader-fixed');
        $(document).ready(function () {
            khoitao();
        });
        function khoitao() {
            $("#select-duan").dxTagBox({
            });
            $("#select-thap").dxTagBox({});
            $("#select-tang").dxTagBox({});
            $("#select-tinhtrangcanho").dxSelectBox({});
            $("#txt-dt_quan_tam_tu").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false,
                value: null
            });
            $("#txt-dt_quan_tam_den").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
            $("#txt-gia_ban_tu").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
            $("#txt-gia_ban_den").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
            $("#txt-gia_ban_tu_usd").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false,
            });
            $("#txt-gia_ban_den_usd").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
            $("#txt-gia_thue_tu").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
            $("#txt-gia_thue_den").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
            $("#txt-gia_thue_tu_usd").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
            $("#txt-gia_thue_den_usd").dxNumberBox({
                showSpinButtons: false,
                showClearButton: false, value: null
            });
          
            LoadData(); getcanhochidinh();
          
            var containers = document.querySelectorAll('.draggable-zone');

            if (containers.length === 0) {
                return false;
            }

            var swappable = new Sortable.default(containers, {
                draggable: '.draggable',
                handle: '.draggable .draggable-handle',
                mirror: {
                    appendTo: 'body',
                    constrainDimensions: true
                }
            });

            swappable.on('drag:stop', (evt) => {
                capnhatthutu();
            });
        }
        function LoadData() {
            try {
                KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang load dữ liệu...' });
                $.get("@Url.Action("GetCanHo", "GuiYeuCau")", { id:@Model.id}).done(function (rs) {
                if (rs != null && rs.length > 0) {
                    dataSoure = rs;
                    //dataSoure_Filter = dataSoure;
                }
                xulydata();
                if (first_load) {
                    reder('select-duan', 'ma_duan');
                    reder('select-thap', 'Thap');
                    reder('select-tang', 'Tang');
                    reder('select-socan', 'SoCan');
                    reder('select-tinhtrangcanho', 'TinhTrang');
                    reder('select-loaicanho', 'LoaiCanHo');
                    reder('select-loaibangiao', 'LoaiBanGiao');
                    reder('select-sophongngu', 'PhongNgu');
                    reder('select-huongcua', 'HuongCua');
                    reder('select-huongbancong', 'HuongBanCong');
                    reder('select-view', 'VIEW');
                    first_load = false;
                    }
                    KTApp.unblockPage();
            });
            } catch (e) {
                KTApp.unblockPage();
            }
        }
        function xulydata() {
            LoadCanho();


        }
        function XoaLoc() {
            self.location = "@Url.Action("ChiDinhCanHo","GuiYeuCau")?id=@Model.id";
        }
        function DistinctRecords( prop) {
            return dataSoure.filter((obj, pos, arr) => {
                return arr.map(mapObj => mapObj[prop]).indexOf(obj[prop]) === pos;
            })
        }
        function reder(id,f) {
            $("#"+id).dxTagBox({
                items: DistinctRecords(f),
                showClearButton: true,
                searchEnabled: true,
                valueExpr: f,
                displayExpr: f,
                value: null,
                onValueChanged: function (e) {
                    FilterGrid(f, e.value);
                }
            });
        }
        function getcanhochidinh() {
            $('#pnchidinh').empty('<div class="spinner spinner-center spinner-primary spinner-lg mr-15"></div>');
              $.get("@Url.Action("GetCanHoChiDinh", "GuiYeuCau")", { id:@Model.id}).done(function (rs) {
                  var dataSoure_CH = [];
                if (rs != null && rs.length > 0) {
                    dataSoure_CH = JSON.parse(rs);
                  }
                  var mau = $('#pntemp').html();
                  $.each(dataSoure_CH, function (i, v) {
                      var gia = v.tentinhtrangcanho;
                      if (v.gia_ban != null || v.gia_thue != null)
                          gia += ' - ';
                      if (v.gia_ban != null)
                          gia += v.gia_ban;
                      if (v.gia_ban != null && v.gia_thue != null)
                          gia += ' | ';
                      if (v.gia_thue != null)
                          gia += v.gia_thue ;
                      var html = mau.replace(/rep_can_ho/g, v.can_ho).replace(/rep_ma_can/g, v.ma_can).replace('rep_gia', gia).replace('rep_so_phong_ngu', v.so_phong_ngu)
                          .replace('rep_so_wc', v.so_wc).replace('rep_huong_cua', v.huong_cua).replace('rep_huong_ban_cong', v.huong_ban_cong).replace('rep_dien_tich', Number(v.dien_tich)).replace('repHinh', ' <a href="' + v.img_link + '" target="_blank"><u>' + v.img_key + '</u></a>')
                          .replace('repCopy', ' <div class="btn btn-sm btn-light-primary font-weight-bolder mr-2" onclick="CopyUrl(this)" data-url="@ViewBag.Web' + v.img_link + '"><i class="flaticon2-copy"></i> Copy link</div>')
                          .replace('repXemNha', '<div class="radio-inline"> <label class="radio radio-outline radio-outline-2x radio-success font-weight-bold"> <input type="radio" onchange="ChonXemNha(' + v.can_ho + ',2)" name="radios_' + v.can_ho + '" value="2" ' + (v.da_xem == 1 ? 'checked' : '') + '/> <span></span> Đã xem nhà </label> <label class="radio radio-outline radio-outline-2x radio-warning font-weight-bold"> <input type="radio" onchange="ChonXemNha(' + v.can_ho + ',3)" name="radios_' + v.can_ho + '" value="3" ' + (v.khong_xem == 1 ? 'checked' : '') + '/> <span></span> Không đi xem nhà </label> </div>')
                          .replace('repGhiChu', '<textarea class="form-control" id="txt-ghi_chu_' + v.can_ho + '">' + (v.ghi_chu != null ? (v.ghi_chu.replace('null', '')) : '') + '</textarea>')
                          .replace('repLuuGhiChu', '<div class="btn btn-sm btn-success" onclick="LuuGhiChu(' + v.can_ho + ')"><i class="flaticon2-checkmark"></i> Cập nhật ghi chú</div>')
                          .replace('repLinkCanHo', ' <a href="' + link_canho + '?id=' + v.can_ho + '" target="_blank" class="card-label font-weight-bolder font-size-h4 text-primary" id="txt-ma_can_' + v.can_ho + '"><u>' + v.ma_can + '</u></a>');
                      var ngay_xem_nha = v.ngay_xem_nha;
                      if (ngay_xem_nha != null) { ngay_xem_nha = ngay_xem_nha.replace('T', ' '); }
                      $('#pnchidinh').append(html);
                      $('#dt_' + v.can_ho).dxDateBox({
                          placeholder: "dd/MM/yyyy HH:mm", type: "datetime",
                          displayFormat: 'dd/MM/yyyy HH:mm', width: '100%',
                          value: ngay_xem_nha,
                          onValueChanged: function (e) {
                              NgayGioXemNha(v.can_ho, Globalize.format(e.value, 'yyyy-MM-dd HH:mm:ss'), Globalize.format(e.value, 'dd/MM/yyyy HH:mm:ss'));
                          }
                      });
                  });


            });
        }
        function CopyUrl(a) {
            var url = $(a).attr("data-url");
            navigator.clipboard.writeText(url)
            ShowToast.success('Copy thành công', 1000);
        }
        function LoadCanho() {
            var wh = $(window).height();
            $('#list_danh_sach').height(wh - 200);
            $("#list_danh_sach").dxDataGrid({
                dataSource: dataSoure,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
              //  columnHidingEnabled: true, // ẩn hiện nội dung khi màn hình quá nhỏ column
                //columnChooser: {
                //    enabled: true,
                //    mode: "selectd" // or "ragAndDrop"
                //},
                keyExpr: "IDCanHo",
                rowAlternationEnabled: false, // bỏ định dạng màu dòng chan le
                filterRow: {
                    visible: true,
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 15, 20, 50, 100],
                    showInfo: true
                },
                headerFilter: {
                    visible: true
                },
                selection: {
                    mode: "multiple"
                },
                remoteOperations: true,
                columns: [
                    {
                        dataField: "IDCanHo",
                        caption: "#",
                        fixed: true,
                        width:60
                        //allowFiltering: false
                    },
                    {
                        dataField: "DuAn",
                        caption: "Dự Án",
                        fixed: true,
                        //allowFiltering: false
                    },
                    {
                        dataField: "Thap",
                        caption: "Tháp",
                        fixed: true,
                        width:50
                    },
                    {
                        dataField: "Tang",
                        caption: "Tầng",
                        fixed: true,
                        width: 50
                    },
                    {
                        dataField: "SoCan",
                        caption: "Căn",
                        fixed: true,
                        width: 50
                    },
                    {
                        dataField: "TenChuNha",
                        caption: "Khách hàng",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.TenChuNha + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                        
                    },
                    {
                        dataField: "LienHe",
                        caption: "Liên hệ",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.LienHe + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "TinhTrang",
                        caption: "Tình trạng",
                        width: 100
                    },
                    {
                        dataField: "LoaiCanHo",
                        caption: "Loại căn hộ",
                        width: 80
                    },
                    {
                        dataField: "LoaiBanGiao",
                        caption: "Loại bàn giao",
                        width: 80
                    },
                    {
                        dataField: "PhongNgu",
                        caption: "PN",
                        width: 50
                    },
                    {
                        dataField: "WC",
                        caption: "Wc",
                        width: 50,
                       
                    },
                    {
                        dataField: "DienTich",
                        caption: "DT",
                        width: 50
                    },
                    {
                        dataField: "VIEW",
                        caption: "Views",
                        width: 100
                    },
                    {
                        dataField: "HuongCua",
                        caption: "Hướng cửa",
                        width: 50
                    },
                    {
                        dataField: "HuongBanCong",
                        caption: "Hướng BC",
                        width: 50
                    },
                    {
                        dataField: "MatKhauCua",
                        caption: "Mật khẩu",
                        width: 50
                    },
                    {
                        dataField: "GiaHopDong",
                        caption: "Giá hợp đồng",
                        width: 80
                    },
                    {
                        dataField: "GiaChuNhaGui",
                        caption: "Giá chủ nhà gửi",
                        width: 80
                    },
                    {
                        dataField: "GiaChotBan",
                        caption: "Giá chốt bán",
                        width: 80
                    },
                    {
                        dataField: "GiaBanDVT",
                        caption: "Giá bán",
                        width: 80
                    },
                    {
                        dataField: "GiaThueNet",
                        caption: "Giá thuê Net",
                        width: 80
                    },
                    {
                        dataField: "GiaThueBaoPhi",
                        caption: "Giá thuê bao phí",
                        width: 80
                    },
                    //{
                    //    dataField: "GhiChuAdmin",
                    //    caption: "Ghi chú Admin",
                    //    width: 200
                    //},
                    {
                        dataField: "GhiChuQuanLy",
                        caption: "Ghi chú quản ký",
                        width: 200
                    },
                    {
                        dataField: "GhiChuSales",
                        caption: "Ghi chú sales",
                        width: 200
                    }
                ],
                onRowPrepared: function (e) {
                    if (e.rowType == 'data' && e.data.TinhTrang == "Cho thuê") {
                        e.rowElement.css('background-color', '#FFFF99')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Đã cho thuê (Sắp hết hợp đồng)") {
                        e.rowElement.css('background-color', '#a9d08f')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán - Sắp hết hợp đồng thuê") {
                        e.rowElement.css('background-color', '#a9d08f')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán") {
                        e.rowElement.css('background-color', '#f4b084')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán - Cho thuê") {
                        e.rowElement.css('background-color', '#f4b084')
                    }
                    else {
                        e.rowElement.css('background-color', '#FFFFFF')
                        e.rowElement.css
                    }
                },
            });
        }
        function FilterGrid(key, value) {
            var grid = $("#list_danh_sach").dxDataGrid("instance");
            if (value != null && value.length>0) {
                grid.columnOption(key, {
                    headerFilter: "include",
                    filterValues: value
                });
            }
            else {
                grid.columnOption(key, {
                    headerFilter: "include",
                    filterValues: undefined
                });
            }
        }
        function Search(a) {
            FilterGridByText(a.name, $(a).val());
        }
        function FilterGridByText(key, value) {
            var grid = $("#list_danh_sach").dxDataGrid("instance");
            if (value != null && value != "") {
                grid.columnOption(key, {
                    headerFilter: "include",
                    filterValue: value
                });
            }
            else {
                grid.columnOption(key, {
                    headerFilter: "include",
                    filterValue: undefined
                });
            }
        }
        function XoaCanHo(id) {
            if ("@User.IsInRole("0=0")" == "True" || "@User.IsInRole("25=1")" == "True") {
                Swal.fire({
                title: "Cảnh báo?",
                  html: '<b class="text-danger">Bạn có chắc xóa <b>' + $('#txt-ma_can_' + id).text() + '</b> hay không?',
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Xóa",
                    cancelButtonText: "Hủy",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang xóa...' });
                        $.post('@Url.Action("XoaCanHo", "GuiYeuCau")', { id: '@Model.id',CanHo:id, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() }).done(function (rs) {
                            KTApp.unblockPage();
                            if (rs.rs_code == 1) {
                                LoadCanho();
                                getcanhochidinh();
                                ShowToast.success(rs.rs_text, 3000);
                            } else {
                                Swal.fire("Có lỗi!", rs.rs_text, "error");
                            }
                        }).fail(function () {
                            KTApp.unblockPage();
                            ShowToast.warning('Có lỗi xảy ra', 3000);
                        });
                    } else if (result.dismiss === "cancel") {
                        ShowToast.info('Bạn đã hủy thao tác', 3000);
                    }
                });
            }
          
        }
        function NgayGioXemNha(id, ngay1, ngay2) {
            if ("@User.IsInRole("0=0")" == "True" || "@User.IsInRole("24=1")" == "True") {
                KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang cập nhật...' });
                $.post('@Url.Action("CapNhatNgayXemNha", "GuiYeuCau")', { id: '@Model.id', CanHo: id, Ngay: ngay1, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() }).done(function (rs) {
                            KTApp.unblockPage();
                            if (rs.rs_code == 1) {
                                ShowToast.success("Đã cập nhật ngày giờ xem nhà thành: " + ngay2, 3000);
                            } else {
                                Swal.fire("Có lỗi!", rs.rs_text, "error");
                            }
                        }).fail(function () {
                            KTApp.unblockPage();
                            ShowToast.warning('Có lỗi xảy ra', 3000);
                        });
            }
            
        }
        function ChonXemNha(ch, s) {
            if ("@User.IsInRole("0=0")" == "True" || "@User.IsInRole("22=1")" == "True") {
                var trangthai = s == 2 ? 'Đã xem nhà' : 'Không đi xem nhà';
                Swal.fire({
                    title: "Cảnh báo?",
                    html: '<div class="text-mute">Bạn có chắc chuyển trạng thái ' + $('#txt-ma_can_' + ch).text() + ' thành <b class="text-danger">' + trangthai + '</b> hay không?</div?',
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Đồng ý",
                    cancelButtonText: "Hủy",
                    reverseButtons: true
                }).then(function (result) {
                    if (result.value) {
                        KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang cập nhật...' });
                        $.post('@Url.Action("ChuyenTrangThai", "GuiYeuCau")', { id: '@Model.id', CanHo: ch,TrangThai :s, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() }).done(function (rs) {
                            KTApp.unblockPage();
                            if (rs.rs_code == 1) {
                                ShowToast.success(rs.rs_text, 3000);
                            } else {
                                Swal.fire("Có lỗi!", rs.rs_text, "error");
                            }
                        }).fail(function () {
                            KTApp.unblockPage();
                            ShowToast.warning('Có lỗi xảy ra', 3000);
                        });
                    } else if (result.dismiss === "cancel") {
                        getcanhochidinh();
                        ShowToast.info('Bạn đã hủy thao tác', 3000);
                    }
                });
            }
        }
        function LuuGhiChu(id) {
            if ("@User.IsInRole("0=0")" || "@User.IsInRole("23=1")" == "True") {
                var noidung = $('#txt-ghi_chu_' + id).val();
                if (noidung == null || $.trim(noidung).length == 0) {
                    Swal.fire({
                        title: "Cảnh báo?",
                        html: 'Bạn đang cập nhật ghi chú với nội dung trống, bạn có muốn tiếp tục không?',
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Có",
                        cancelButtonText: "Hủy",
                        reverseButtons: true
                    }).then(function (result) {
                        if (result.value) {
                            UpdateGhiChu(id, noidung);
                        } else if (result.dismiss === "cancel") {
                            getcanhochidinh();
                            ShowToast.info('Bạn đã hủy thao tác', 3000);
                        }
                    });
                } else {
                    UpdateGhiChu(id, noidung);
                }
            }
            
        }
        function UpdateGhiChu(id,nd) {
              KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang cập nhật...' });
            $.post('@Url.Action("UpdateGhiChu", "GuiYeuCau")', { id: '@Model.id', CanHo: id, GhiChu: $.trim(nd), __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() }).done(function (rs) {
                KTApp.unblockPage();
                if (rs.rs_code == 1) {
                    ShowToast.success(rs.rs_text, 3000);
                } else {
                    Swal.fire("Có lỗi!", rs.rs_text, "error");
                }
            }).fail(function () {
                KTApp.unblockPage();
                ShowToast.warning('Có lỗi xảy ra', 3000);
            });
        }
        function capnhatthutu() {
            setTimeout(function () {
                var arr = [];
                $('.draggable').each(function () {
                    var id = $(this).attr('data-id');
                    if (id.indexOf('_') < 0)
                        arr.push($(this).attr('data-id'));
                });
                $.post('@Url.Action("CapNhatSTT", "GuiYeuCau")', { id: '@Model.id', CanHo: arr.join(), __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() }).done(function (rs) {

                });
            }, 1000);
        }

        function AddChiDinhCanHo() {
            let id = "@Model.id";
            var canho = [];
            $.each($("#list_danh_sach").dxDataGrid('instance').getSelectedRowsData(), function () {
                canho.push(this.IDCanHo);
            });
            if (canho.length > 0) {
                var data = {};
                data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                data.id = id;
                data.canho = canho;
                Swal.fire({
                            title: "Thông báo?",
                            html: '<b class="text-danger">Bạn có chắc chỉ định căn hộ đang chọn?',
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Tiếp tục",
                            cancelButtonText: "Hủy",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang chỉ định...' });
                                $.post('@Url.Action("TaoChiDinhNhieuCan", "GuiYeuCau")',data).done(function (rs) {
                                KTApp.unblockPage();
                                    if (rs.rs_code == 1) {
                                     for (var i = 0; i < canho.length; i++) {
                                        dataSoure = dataSoure.filter((el) => {
                                        return el.IDCanHo !== canho[i];
                                        });
                                    }
                                    xulydata();
                                    getcanhochidinh();
                                    //var dataGrid = $("#list_danh_sach").dxDataGrid('instance');
                                    //dataGrid.confirmDeleteMessage = null;  
                                    //for (var i = 0; i < canho.length; i++) {
                                    //    dataGrid.deleteRow(dataGrid.getRowIndexByKey(canho[i]))
                                    //}
                                    ShowToast.success('Chỉ định thành công', 3000);
                                } else {
                                    Swal.fire("Có lỗi!", rs.rs_text, "error");
                                }
                            }).fail(function () {
                                KTApp.unblockPage();
                                ShowToast.warning('Có lỗi xảy ra', 3000);
                                });
                            } else if (result.dismiss === "cancel") {
                                dataGrid.clearSelection();
                                ShowToast.info('Bạn đã hủy chỉ định căn hộ', 3000);
                            }
                        });
            }
        }
    </script>
}