@{
    ViewBag.Title = Resources.App.CanHo_DanhSach;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ScriptsFile{
    <style>
        .color_status {
            cursor: default;
            display: inline-block;
            width: 15px;
            height: 15px;
            border: 1px solid #c3c3c3;
            border-radius: 50%;
            margin-top: 7px;
        }

        .dx-datagrid .dx-header-filter {
            position: relative;
            color: blue;
            font: 14px/1 DXIcons;
        }

        .dx-datagrid .dx-header-filter-empty {
            color: rgba(149,149,149,.5);
        }
    </style>
}
@{
    bool menu = false;
    bool detail = false;
    bool del = false;
    bool edit = false;
    if (User.IsInRole("3=1") || User.IsInRole("0=0"))
    {
        detail = true;
    }

    if (User.IsInRole("9=1") || User.IsInRole("0=0"))
    {
        del = true;
    }

    if (User.IsInRole("6=1") || User.IsInRole("0=0"))
    {
        edit = true;
    }

    if (del || edit || detail)
    {
        menu = true;
    }
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <button class="btn btn-icon mr-4" id="kt_aside_toggle">
            <span class="svg-icon svg-icon-xl">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M2 11.5C2 12.3284 2.67157 13 3.5 13H20.5C21.3284 13 22 12.3284 22 11.5V11.5C22 10.6716 21.3284 10 20.5 10H3.5C2.67157 10 2 10.6716 2 11.5V11.5Z" fill="black" />
                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M9.5 20C8.67157 20 8 19.3284 8 18.5C8 17.6716 8.67157 17 9.5 17H20.5C21.3284 17 22 17.6716 22 18.5C22 19.3284 21.3284 20 20.5 20H9.5ZM15.5 6C14.6716 6 14 5.32843 14 4.5C14 3.67157 14.6716 3 15.5 3H20.5C21.3284 3 22 3.67157 22 4.5C22 5.32843 21.3284 6 20.5 6H15.5Z" fill="black" />
                    </g>
                </svg>
            </span>
        </button>
        <div class="d-flex align-items-baseline flex-wrap mr-5">
            @*<div class="input-group-append  mr-2 btn-light-primary font-weight-boldere">
                    <select class="form-control selectpicker tien-bg2" id="loai-tin">
                        <option selected value="1">Danh sách căn hộ đang hiển thị</option>
                        <option value="2">Danh sách đang bị ẩn</option>
                    </select>

                </div>*@
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="javascript:;" class="text-muted">@Resources.App.CanHo</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="@Url.Action("Index","CanHo")" class="text-muted"> @Resources.App.CanHo_QuanLy</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex">
        <div id="Mobile">
            @*<a href="javascript: void(0);" class="btn  btn-light-success  font-weight-bolder mr-2" id="btn_restore">
            <i class="flaticon2-reply-1"></i> <span id="text-restore"></span>
        </a>*@
            <a href="@Url.Action("Create","CanHo")" class="btn btn-primary font-weight-bolder mr-5">
                <i class="icon-1x text-dark-40 ki ki-solid-plus"></i> @Resources.App.CanHo_ThemMoi
            </a>
            @*@if (User.IsInRole("6=1"))
        {
            <a href="@Url.Action("Create","CanHo")" class="btn btn-primary font-weight-bolder mr-5">
                <i class="icon-1x text-dark-40 ki ki-solid-plus"></i> @Resources.App.CanHo_ThemMoi
            </a>
        }*@
            @if (User.IsInRole("4=1") || User.IsInRole("0=0"))
            {
                <a href="@Url.Action("PhanGioHangChoSale","CanHo")" class="btn btn-success font-weight-bolder mr-5">
                    <i class="icon-1x text-dark-40 ki ki-calendar-today"></i>@Resources.App.CanHo_PhanChoSale
                </a>
            }
            @if (User.IsInRole("10=1") || User.IsInRole("0=0"))
            {
                <a href="@Url.Action("ImportExcel","CanHo")" class="btn btn-info font-weight-bolder mr-5">
                    <i class="icon-1x text-dark-40 ki ki-long-arrow-up"></i>@Resources.App.CanHo_NhapLieuExcel
                </a>
            }
            @if (User.IsInRole("1=1") || User.IsInRole("0=0"))
            {
                <button type="button" class="btn btn-success font-weight-bolder mr-5" onclick="XuatHinh()">
                    <i class="icon-xl la la-arrow-circle-down"></i>
                    Tải hình
                </button>
            }

            <button type="button" class="btn btn-warning" onclick="LocDanhSach()">
                <i class="icon-1x text-dark-40 flaticon-search"></i>
                Tìm kiếm
            </button>
        </div>
    </div>
   
}
<div class="row">
    <div class="col-lg-12" id="mobliesize">
        <div id="list_danh_sach"></div>
    </div>
</div>
@*<div class="row">
        <table>
            <tr>
                <td><span class="color_status" style="background: #f8ec97;"></span></td>
                <td>&nbsp;Cho thuê</td>
                <td><span class="color_status" style="background: #f8c397;"></span></td>
                <td>&nbsp;Bán</td>
                <td><span class="color_status" style="background: #f8c397;"></span></td>
                <td>&nbsp;Bán - Cho Thuê</td>
                <td><span class="color_status" style="background: #f8c397;"></span></td>
                <td>&nbsp;Đã Cho thuê nhưng Sắp hết hạn HĐ</td>
                <td><span class="color_status" style="background: #fff;"></span></td>
                <td>&nbsp;Khác</td>
            </tr>
        </table>
    </div>*@
@section CustomScripts{
    <script type="text/javascript">
        var loai = 1;
        var data;
        var isMobile;
                // create an Observer instance
        // Listen for orientation changes
        //$(document).on("pagecreate", function (event) {
        //    $(window).on("orientationchange", function () {
        //        alert("The orientation has changed!");
        //    });
        //});
        $(function () {
            isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
            //var element = document.getElementById('text');
            //if (!isMobile) {
            //    alert("You are using Desktop");

            //} else {
            //    alert("You are using Mobile");
            //}
            if (isMobile) {
                $("#Mobile").css("display", "none");
            }
            window.addEventListener("orientationchange", function () {
                // Announce the new orientation number
                var wh = $(window).height();

                var wth = $(window).width();
                $('#list_danh_sach').height(wth * 0.8 );
                $('#list_danh_sach').width(wh * 0.9);
                document.body.style.zoom = 1.0
            }, false);
            LoadData();

        });

        function LoadData() {
            try {
                KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang tải dữ liệu...' });
                $.ajax({
                    url: "@Url.Action("GetCanHo", "CanHo")",
                    method: "GET",
                    timeout: 600000,
                }).done(function (rs) {
                    KTApp.unblockPage();
                    if (!isMobile) {
                        LoadCanho(rs);
                    }
                    else {
                        LoadGridMoBile(rs);
                    }

                }).fail(function (jqXHR, textStatus) {
                        KTApp.unblockPage();
                        if (textStatus == 'timeout') {
                            alert('jQuery Promise: Failed from timeout');
                            //do something. Try again perhaps?
                        }
                        else {
                            alert(textStatus);
                        }

                    });
                  @*$.get("@Url.Action("GetCanHo", "CanHo")").done(function (rs) {

                  });*@
            } catch (e) {
                KTApp.unblockPage();
            }
        }
        function LoadCanho(datatitem) {
            var wh = $(window).height();
            $('#list_danh_sach').height(wh - 200);
            $("#list_danh_sach").dxDataGrid({
                dataSource: datatitem,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                sorting: {
                    mode: "multiple"
                },
              //  columnHidingEnabled: true, // ẩn hiện nội dung khi màn hình quá nhỏ column
                //columnChooser: {
                //    enabled: true,
                //    mode: "selectd" // or "ragAndDrop"
                //},
                keyExpr: "IDCanHo",
                rowAlternationEnabled: false, // bỏ định dạng màu dòng chan le
                filterRow: {
                    visible: true,
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 15, 20, 50, 100],
                    showInfo: true
                },
                headerFilter: {
                    visible: true
                },
                export: {
                    enabled: true,
                    fileName: "CanHo",
                    allowExportSelectedData: true
                },
                remoteOperations: true,
                columns: [
                    {
                        dataField: "IDCanHo",
                        caption: "#",
                        fixed: true,
                        width:60
                        //allowFiltering: false
                    },
                    {
                        dataField: "DuAn",
                        caption: "Dự Án",
                        fixed: true,
                        @*cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.DuAn + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }*@
                        //allowFiltering: false
                    },
                    {
                        dataField: "Thap",
                        caption: "Tháp",
                        fixed: true,
                        width: 50,
                        @*cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.Thap + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }*@
                    },
                    {
                        dataField: "Tang",
                        caption: "Tầng",
                        fixed: true,
                        width: 50,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.Tang + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "SoCan",
                        caption: "Căn",
                        fixed: true,
                        width: 50,
                        @*cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.SoCan + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }*@
                    },
                    {
                        dataField: "TenChuNha",
                        caption: "Khách hàng",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.TenChuNha + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                        
                    },
                    {
                        dataField: "LienHe",
                        caption: "Liên hệ",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.LienHe + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "TinhTrang",
                        caption: "Tình trạng",
                        width: 100
                    },
                    {
                        dataField: "LoaiCanHo",
                        caption: "Loại căn hộ",
                        width: 80
                    },
                    {
                        dataField: "LoaiBanGiao",
                        caption: "Loại bàn giao",
                        width: 80
                    },
                    {
                        dataField: "PhongNgu",
                        caption: "PN",
                        width: 50
                    },
                    {
                        dataField: "WC",
                        caption: "Wc",
                        width: 50,
                       
                    },
                    {
                        dataField: "DienTich",
                        caption: "DT",
                        width: 50
                    },
                    {
                        dataField: "VIEW",
                        caption: "Views",
                        width: 100
                    },
                    {
                        dataField: "HuongCua",
                        caption: "Hướng cửa",
                        width: 50
                    },
                    {
                        dataField: "HuongBanCong",
                        caption: "Hướng BC",
                        width: 50
                    },
                    {
                        dataField: "MatKhauCua",
                        caption: "Mật khẩu",
                        width: 50,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.MatKhauCua + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "GiaHopDong",
                        caption: "Giá hợp đồng",
                        width: 80,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.GiaHopDong + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "GiaChuNhaGui",
                        caption: "Giá chủ nhà gửi",
                        width: 80,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.GiaChuNhaGui + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "GiaChotBan",
                        caption: "Giá chốt bán",
                        width: 80
                    },
                    {
                        dataField: "GiaBanDVT",
                        caption: "Giá bán",
                        width: 80
                    },
                    {
                        dataField: "GiaThueNet",
                        caption: "Giá thuê Net",
                        width: 80
                    },
                    {
                        dataField: "GiaThueBaoPhi",
                        caption: "Giá thuê bao phí",
                        width: 80
                    },
                    //{
                    //    dataField: "GhiChuAdmin",
                    //    caption: "Ghi chú Admin",
                    //    width: 200
                    //},
                    {
                        dataField: "GhiChuQuanLy",
                        caption: "Ghi chú quản lý",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.GhiChuQuanLy + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "GhiChuSales",
                        caption: "Ghi chú sales",
                        width: 200
                    },
                    {
                        caption: 'Tác vụ', dataField: "IDCanHo", fixed: true, fixedPosition: "right", alignment: 'center', editCellTemplate: function (cellElement, cellInfo) {
                            var data = cellInfo.data;
                            $('<div>').appendTo(cellElement).dxMenu({
                                items: [{
                                    icon: 'flaticon2-gear text-primary',
                                    items: [{
                                        icon: "flaticon-eye text-success",
                                        text: 'Chi tiết căn hộ',
                                        visible:"@detail" == "True" ? true : false,
                                    }, {
                                        icon: 'text-primary flaticon-edit-1',
                                        text: 'Chỉnh sửa căn hộ',
                                        visible:"@edit" == "True" ? true : false,
                                    },
                                    {
                                        icon: 'icon-1x text-dark-50 flaticon-folder-2',
                                        text: 'Tải hình',
                                        visible:"@User.IsInRole("7=1")" == "True" ? true : false,
                                    },

                                    {
                                        icon: "flaticon2-trash text-danger",
                                        text: 'Xóa',
                                        visible:"@del" == "True" ? true : false,
                                    }]
                                }], itemTemplate: function (itemData, itemIndex, itemElement) {
                                    if (itemData.text) {
                                        if (itemIndex == 0 && "@detail" == "True") {

                                            itemElement.append('<a class="mt-6 p-3" href="@Url.Action("ChiTietCanHo","CanHo")?id=' + data.IDCanHo + '"><span class="navi-icon mr-2"><i class="' + itemData.icon + '"></i></span><span class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span></a>');
                                        }
                                       
                                        else if (itemIndex == 1 && "@edit" == "True") {

                                            itemElement.append('<a class="mt-3 p-3" href="@Url.Action("Edit", "CanHo")?id=' + data.IDCanHo + '" ><span class="navi-icon mr-2"><i class="' + itemData.icon + '"></i></span><span class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span></a>');
                                        }
                                        else if (itemIndex == 2 && "@User.IsInRole("7=1")" == "True") {

                                            itemElement.append('<a class="mt-6 p-3" target="_blank" href="@Url.Action("XuatHinhCanHoID", "CanHo")?id=' + data.IDCanHo + '"><span class="navi-icon mr-2"><i class="' + itemData.icon + '"></i></span><span class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span></a>');
                                        }
                                        else if (itemIndex == 3 && "@del" == "True") {

                                            itemElement.append('<span onclick="XoaCanHo(' + data.IDCanHo +')" class="navi-icon mt-3 p-3"><i class="' + itemData.icon + '"></i></span><span onclick="XoaCanHo(' + data.IDCanHo +')" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span>');
                                        }
                                    } else {
                                        itemElement.append('<span class="svg-icon svg-icon-xl svg-icon-primary"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">    <rect x="0" y="0" width="24" height="24"></rect>    <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"></path></g></svg></span>');
                                    }
                                },
                                showFirstSubmenuMode: 'onclicke',
                                hideSubmenuOnMouseLeave: true,
                                //onItemClick: function (e) {

                                //    Menu(e, cellInfo.key);
                                //},
                            });
                        }, showEditorAlways: true,

                        width: 70,
                        visible:"@menu" == "True" ? true : false,
                    },
                ],
                onRowDblClick: function (e) {
                    if ("@edit" == "True") {
                        ShowCapNhatGhiChu(e.key);
                    }

                },
                onRowPrepared: function (e) {
                    if (e.rowType == 'data' && e.data.TinhTrang == "Cho thuê") {
                        e.rowElement.css('background-color', '#FFFF99')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Đã cho thuê (Sắp hết hợp đồng)") {
                        e.rowElement.css('background-color', '#a9d08f')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán - Sắp hết hợp đồng thuê") {
                        e.rowElement.css('background-color', '#a9d08f')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán") {
                        e.rowElement.css('background-color', '#f4b084')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán - Cho thuê") {
                        e.rowElement.css('background-color', '#f4b084')
                    }
                    else {
                        e.rowElement.css('background-color', '#FFFFFF')
                        e.rowElement.css
                    }
                },
            });

        }
        function LoadGridMoBile(datatitem) {
            var wh = $(window).height();
            var wth = $(window).width();

            $('#list_danh_sach').height(wh * 0.8);
            $('#list_danh_sach').width(wth * 0.9);

            $("#list_danh_sach").dxDataGrid({
                dataSource: datatitem,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columnHidingEnabled: false, // ẩn hiện nội dung khi màn hình quá nhỏ column
                //columnChooser: {
                //    enabled: true,
                //    mode: "selectd" // or "ragAndDrop"
                //},
                keyExpr: "IDCanHo",
                rowAlternationEnabled: false, // bỏ định dạng màu dòng chan le
                filterRow: {
                    visible: true,
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 15, 20, 50, 100],
                    showInfo: true
                },
                headerFilter: {
                    visible: true
                },
                remoteOperations: true,
                columns: [
                    {
                        dataField: "IDCanHo",
                        caption: "#",
                        fixed: true,
                        width: 60,
                        visible:false
                        //allowFiltering: false
                    },
                    {
                        dataField: "DuAn",
                        caption: "Dự Án",
                        //fixed: true,
                        @*cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.DuAn + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }*@
                        //allowFiltering: false
                    },
                    {
                        dataField: "Thap",
                        caption: "Tháp",
                        //fixed: true,
                        width: 50,
                        @*cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.Thap + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }*@
                    },
                    {
                        dataField: "Tang",
                        caption: "Tầng",
                        //fixed: true,
                        width: 50,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.Tang + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }
                    },
                    {
                        dataField: "SoCan",
                        caption: "Căn",
                        //fixed: true,
                        width: 50,
                        @*cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.SoCan + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        }*@
                    },
                    {
                        dataField: "TenChuNha",
                        caption: "Khách hàng",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.TenChuNha + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        },
                        visible: false
                    },
                    {
                        dataField: "LienHe",
                        caption: "Liên hệ",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.LienHe + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        },
                        visible: false
                    },
                    {
                        dataField: "TinhTrang",
                        caption: "Tình trạng",
                        width: 100
                    },
                    {
                        dataField: "LoaiCanHo",
                        caption: "Loại căn hộ",
                        width: 80,
                        visible: false
                    },
                    {
                        dataField: "LoaiBanGiao",
                        caption: "Loại bàn giao",
                        width: 80,
                        visible: false
                    },
                    {
                        dataField: "PhongNgu",
                        caption: "PN",
                        width: 50,
                        visible: true
                    },
                    {
                        dataField: "WC",
                        caption: "Wc",
                        width: 50,
                        visible: true,
                       
                    },
                    {
                        dataField: "DienTich",
                        caption: "DT",
                        width: 50
                    },
                    {
                        dataField: "VIEW",
                        caption: "Views",
                        width: 100,
                        visible: false
                    },
                    {
                        dataField: "HuongCua",
                        caption: "Hướng cửa",
                        width: 50,
                        visible: false
                    },
                    {
                        dataField: "HuongBanCong",
                        caption: "Hướng BC",
                        width: 50,
                        visible: false
                    },
                    {
                        dataField: "MatKhauCua",
                        caption: "Mật khẩu",
                        width: 50,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.MatKhauCua + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        },
                        visible: false
                    },
                    {
                        dataField: "GiaHopDong",
                        caption: "Giá hợp đồng",
                        width: 80,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.GiaHopDong + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        },
                        visible: true
                    },
                    {
                        dataField: "GiaChuNhaGui",
                        caption: "Giá chủ nhà gửi",
                        width: 80,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.GiaChuNhaGui + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        },
                        visible: true
                    },
                    {
                        dataField: "GiaChotBan",
                        caption: "Giá chốt bán",
                        width: 80,
                        visible: true
                    },
                    {
                        dataField: "GiaBanDVT",
                        caption: "Giá bán",
                        width: 80,
                        visible: true
                    },
                    {
                        dataField: "GiaThueNet",
                        caption: "Giá thuê Net",
                        width: 80
                    },
                    {
                        dataField: "GiaThueBaoPhi",
                        caption: "Giá thuê bao phí",
                        width: 80
                    },
                    //{
                    //    dataField: "GhiChuAdmin",
                    //    caption: "Ghi chú Admin",
                    //    width: 200
                    //},
                    {
                        dataField: "GhiChuQuanLy",
                        caption: "Ghi chú quản lý",
                        width: 200,
                        cellTemplate: function (element, info) {
                            if ("@User.IsInRole("1=1")" == "True" || (info.data.CHSale != "NA" && info.data.CHSale != "")) {
                                element.append("<div>" + info.data.GhiChuQuanLy + "</div>")
                            }
                            else {
                                element.append("<div>" + '' + "</div>")
                            }
                        },
                        visible: false
                    },
                    {
                        dataField: "GhiChuSales",
                        caption: "Ghi chú sales",
                        width: 200,
                        visible: false
                    },
                    {
                        caption: 'Tác vụ', dataField: "IDCanHo", fixedPosition: "left", alignment: 'center', editCellTemplate: function (cellElement, cellInfo) {
                            var data = cellInfo.data;
                            $('<div>').appendTo(cellElement).dxMenu({
                                items: [{
                                    icon: 'flaticon2-gear text-primary',
                                    items: [{
                                        icon: "flaticon-eye text-success",
                                        text: 'Chi tiết căn hộ',
                                        visible:"@detail" == "True" ? true : false,
                                    }, {
                                        icon: 'text-primary flaticon-edit-1',
                                        text: 'Chỉnh sửa căn hộ',
                                        visible:"@edit" == "True" ? true : false,
                                    },
                                    {
                                        icon: "flaticon2-trash text-danger",
                                        text: 'Xóa',
                                        visible:"@del" == "True" ? true : false,
                                    }]
                                }], itemTemplate: function (itemData, itemIndex, itemElement) {
                                    if (itemData.text) {
                                        if (itemIndex == 0 && "@detail" == "True") {

                                            itemElement.append('<a class="mt-6 p-3" href="@Url.Action("ChiTietCanHo","CanHo")?id=' + data.IDCanHo + '"><span class="navi-icon mr-2"><i class="' + itemData.icon + '"></i></span><span class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span></a>');
                                        }
                                        @*else if (itemIndex == 1 && "@User.IsInRole("7=1")" == "True") {

                                            itemElement.append('<a class="mt-6 p-3" href="@Url.Action("EditGhiChu","CanHo")?id=' + data.IDCanHo + '"><span class="navi-icon mr-2"><i class="' + itemData.icon + '"></i></span><span class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span></a>');
                                        }*@
                                        else if (itemIndex == 1 && "@edit" == "True") {

                                            itemElement.append('<a class="mt-3 p-3" href="@Url.Action("Edit", "CanHo")?id=' + data.IDCanHo + '" ><span class="navi-icon mr-2"><i class="' + itemData.icon + '"></i></span><span class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span></a>');
                                        }
                                        else if (itemIndex == 2 && "@del" == "True") {

                                            itemElement.append('<span onclick="XoaCanHo(' + data.IDCanHo +')" class="navi-icon mt-3 p-3"><i class="' + itemData.icon + '"></i></span><span class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">' + itemData.text + '</span>');
                                        }
                                    } else {
                                        itemElement.append('<span class="svg-icon svg-icon-xl svg-icon-primary"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">    <rect x="0" y="0" width="24" height="24"></rect>    <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000"></path></g></svg></span>');
                                    }
                                },
                                showFirstSubmenuMode: 'onclicke',
                                hideSubmenuOnMouseLeave: true,
                                //onItemClick: function (e) {

                                //    Menu(e, cellInfo.key);
                                //},
                            });
                        }, showEditorAlways: true,

                        width: 70,
                        visible:"@menu" == "True" ? true : false,
                    },
                ],
                onRowDblClick: function (e) {
                    if ("@edit" == "True") {
                        ShowCapNhatGhiChu(e.key);
                    }

                },
                onRowPrepared: function (e) {
                    e.rowElement.css({ height: 25 });
                    if (e.rowType == 'data' && e.data.TinhTrang == "Cho thuê") {
                        e.rowElement.css('background-color', '#FFFF99')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Đã cho thuê (Sắp hết hợp đồng)") {
                        e.rowElement.css('background-color', '#a9d08f')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán - Sắp hết hợp đồng thuê") {
                        e.rowElement.css('background-color', '#a9d08f')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán") {
                        e.rowElement.css('background-color', '#f4b084')
                    }
                    else if (e.rowType == 'data' && e.data.TinhTrang == "Bán - Cho thuê") {
                        e.rowElement.css('background-color', '#f4b084')
                    }
                    else {
                        e.rowElement.css('background-color', '#FFFFFF')
                        e.rowElement.css
                    }
                },
            });
        }
        function ShowCapNhatGhiChu(key) {
           // location.href = '@Url.Action("Edit","CanHo")?id=' + key;
            window.open(
                '@Url.Action("Edit","CanHo")?id=' + key,
                '_blank' // <- This is what makes it open in a new window.
            );
        }
        function Menu(item, key) {
            if (item.itemData.text == "Chọn")
                return;
            switch (item.itemIndex)
            {
                case 0:
                    if ("@detail" == "True") {
                         //window.location.href = "@Url.Action("ChiTietCanHo","CanHo")?id="+key;
                        window.open("@Url.Action("ChiTietCanHo","CanHo")?id="+key, '_blank');
                    }
                    break;
                case 1:
                    if ("@edit" == "True") {
                        window.location.href = "@Url.Action("Edit","CanHo")?id="+key;
                    }
                    break;
                case 2:
                    if ("@del" == "True")
                    {
                        XoaCanHo(key);
                    }
                    break;
            }
        }
        function ClearFilter() {
            var grid = $('#list_danh_sach').dxDataGrid('instance');

            grid.columnOption("DuAn", {
                filterType: "include",
                filterValues: ['House Shop']
            });
            grid.columnOption("DienTich", {
                filterType: "include",
                filterValues: ['90']
            });
        }
        function XoaCanHo(key) {
            Swal.fire({
                        title: "Cảnh báo?",
                        html: '<b class="text-danger">Bạn có xóa căn hộ  đã chọn không không?</b><br />.Xóa là không khôi phục lại được!',
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Có, ẩn ngay!",
                        cancelButtonText: "Hủy!",
                        reverseButtons: true
                    }).then(function (result) {
                        if (result.value) {
                            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang xóa tin...' });
                            $.post('@Url.Action("AnCanHo", "CanHo")', { id: key, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() }).done(function (rs) {
                                KTApp.unblockPage();
                                if (rs.rs_code == 1) {
                                    LoadData();

                                    ShowToast.success('Xóa căn hộ thành công', 3000);
                                } else {
                                    Swal.fire("Có lỗi!", rs.rs_text, "error");

                                }
                            }).fail(function () {
                                KTApp.unblockPage();
                                ShowToast.warning('Có lỗi xảy ra', 3000);
                            });
                        } else if (result.dismiss === "cancel") {
                            ShowToast.info('Bạn đã hủy xóa căn hộ', 3000);

                        }
                    });
        }
        function LocDanhSach() {
            try {
                KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang tải dữ liệu...' });
                $.ajax({
                    url: "@Url.Action("GetCanHo", "CanHo")",
                    method: "GET",
                    timeout: 600000,
                }).done(function (rs) {
                    KTApp.unblockPage();
                    $("#list_danh_sach").dxDataGrid({
                        dataSource: rs,
                    });
                }).fail(function (jqXHR, textStatus) {
                        KTApp.unblockPage();
                        if (textStatus == 'timeout') {
                            alert('jQuery Promise: Failed from timeout');
                            //do something. Try again perhaps?
                        }
                        else {
                            alert(textStatus);
                        }

                    });
                  @*$.get("@Url.Action("GetCanHo", "CanHo")").done(function (rs) {

                  });*@
            } catch (e) {
                KTApp.unblockPage();
            }
        }
        function XuatHinh() {
            //alert("Hi");
            self.location =  "@Url.Action("XuatHinhCanHo", "CanHo")"
        }
    </script>
}