@{
    ViewBag.Title = Resources.App.CanHo_DanhSach;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    bool bNew = false, bEdit = false, bDel = false, bmenu = false;
    if (User.IsInRole("0=0") || User.IsInRole("67=1"))
    {
        bNew = true;
    }
    if (User.IsInRole("0=0") || User.IsInRole("68=1"))
    {
        bEdit = true;
    }
    if (User.IsInRole("0=0") || User.IsInRole("69=1"))
    {
        bDel = true;
    }
    if (bEdit || bDel)
    {
        bmenu = true;
    }
}
@section Header{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <button class="btn btn-icon mr-4" id="kt_aside_toggle">
            <span class="svg-icon svg-icon-xl">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M2 11.5C2 12.3284 2.67157 13 3.5 13H20.5C21.3284 13 22 12.3284 22 11.5V11.5C22 10.6716 21.3284 10 20.5 10H3.5C2.67157 10 2 10.6716 2 11.5V11.5Z" fill="black" />
                        <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M9.5 20C8.67157 20 8 19.3284 8 18.5C8 17.6716 8.67157 17 9.5 17H20.5C21.3284 17 22 17.6716 22 18.5C22 19.3284 21.3284 20 20.5 20H9.5ZM15.5 6C14.6716 6 14 5.32843 14 4.5C14 3.67157 14.6716 3 15.5 3H20.5C21.3284 3 22 3.67157 22 4.5C22 5.32843 21.3284 6 20.5 6H15.5Z" fill="black" />
                    </g>
                </svg>
            </span>
        </button>
        <div class="d-flex align-items-baseline flex-wrap mr-5">
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 ">
                <li class="breadcrumb-item text-muted">
                    <a href="javascript:;" class="text-muted">@Resources.App.ThongTin</a>
                </li>
                <li class="breadcrumb-item text-muted">
                    <a href="@Url.Action(" DanhMucDangTin","ThongTin")" class="text-muted"> @Resources.App.DanhMucDangTin</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex">
        @*<a href="javascript: void(0);" class="btn  btn-light-success  font-weight-bolder mr-2" id="btn_restore">
                <i class="flaticon2-reply-1"></i> <span id="text-restore"></span>
            </a>*@
        @if (bNew)
        {
            <a onclick="ThemMoi()" class="btn btn-primary font-weight-bolder mr-5">
                <i class="icon-1x text-dark-40 ki ki-solid-plus"></i> @Resources.App.ThemMoi
            </a>
        }

    </div>
}
<div class="row">
    <div class="col-lg-12 center">
        <div id="list_danh_sach"></div>
    </div>
</div>
@section CustomScripts{
    <script type="text/javascript">
        var dataLoai = @Html.Raw(RealEstate.Libs.ThongTin.LoaiDanhMuc());
       
        $(function () {
        var wh = $(window).height();
        $('#list_danh_sach').height(wh - 200);
        Load();
        });
    function ThemMoi() {
       if ("@User.IsInRole("0=0")" == "True" || "@User.IsInRole("35=1")" == "True") {
                $('#list_danh_sach').dxDataGrid('instance').addRow();
       }
    }
    function Load() {
        try {
            KTApp.blockPage({ overlayColor: '#000000', state: 'primary', message: 'Đang tải dữ liệu...' });
            $.get("@Url.Action("GetDanhMuc", "ThongTin")").done(function (rs) {
            $("#list_danh_sach").dxDataGrid({
                dataSource: rs,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                hoverStateEnabled: true,
                allowColumnReordering: true,
                allowColumnResizing: true,
                columnAutoWidth: true,
                keyExpr: "term_taxonomy_id",
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 15, 20, 50, 100],
                    showInfo: true
                },
                editing: {
                        mode: "popup",
                        allowUpdating: "@bEdit" == "True" ? true : false ,
                        allowDeleting: "@bDel" == "True" ? true : false,
                        allowAdding: true,
                        popup: {
                            title: "Thông tin danh mục",
                            showTitle: true,
                            width: 700,
                            height: 525,
                            position: {
                                my: "top",
                                at: "top",
                                of: window
                            }
                      },
                      form: {
                          items: [{
                              itemType: "group",
                              colCount: 1,
                              colSpan: 2,
                              items: ["name","taxonomy"]
                          }]
                      }
                    },
                columns: [
                    {
                        dataField: "term_id",
                        caption: "#",
                        width: 100
                        
                       // validationRules: [{ type: "required", message: "Chưa nhật tên loại dự án" }]
                    },
                    {
                        dataField: "name",
                        caption: "Tên ",
                        validationRules: [{ type: "required", message: "Chưa nhật tên" }]
                    },
                    {
                        dataField: "taxonomy",
                        caption: "Loại",
                        validationRules: [{ type: "required", message: "Chưa nhật tên loại" }],
                        lookup: {
                            dataSource: dataLoai,
                            valueExpr: "ma_loai",
                            displayExpr: "ten_loai",
                        }
                    },
                ],
                onRowUpdating: function (e) {
                    if (e.key > 0) {
                        //EditPOChiTiet(e.newData, e.key);
                        EditDanhMucLoai(e.newData, e.oldData, e.key);
                    }

                },
                onRowRemoving: function (e) {
                    if (e.key > 0) {
                        DelDanhMucLoai(e.key);
                    }
                },
                onRowInserting: function (e) {
                    AddDanhMucLoai(e);
                },
                });
                KTApp.unblockPage();
        });
        } catch (e) {
            KTApp.unblockPage();
        }
    }
    function AddDanhMucLoai(e) {
            if ("@bNew" == "True") {
                var data = {};
                data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                data.TenLoai = e.data.name;
                data.MaLoai = e.data.taxonomy;
                $.post('@Url.Action("AddDanhMucLoai", "ThongTin")', data).done(function (rs) {
                    if (rs == "1") {
                        ShowToast.success('Thành công', 3000);
                        Load();
                    }
                    else {
                        Load();
                        Swal.fire("Có lỗi!", rs, "error");
                    }
                }).fail(function (ex) {
                           Load()
                    alert("error" + ex);
                });
             }
        }
    function EditDanhMucLoai(newData, oldData,key) {
            if ("@bEdit" == "True")
            {
                var data = {};
                data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                var TenLoai = "", MaLoai = "";
                var arryPropertyName = Object.getOwnPropertyNames(newData);
                for (var i = 0; i < arryPropertyName.length; i++) {
                    if (arryPropertyName[i] == "name") {
                        TenLoai = newData[arryPropertyName[i]].toString();
                    }
                    if (arryPropertyName[i] == "taxonomy")
                    {
                        MaLoai = newData[arryPropertyName[i]].toString();
                    }
                    //data[arryPropertyName[i]] = item[arryPropertyName[i]].toString()
                    //oldData[arryPropertyName[i]] = newData[arryPropertyName[i]].toString();
                }
                if (MaLoai != "" || TenLoai != "") {
                    data.id = key;
                    data.MaLoai = MaLoai;
                    data.TenLoai = TenLoai;
                    $.post('@Url.Action("EditDanhMucLoai", "ThongTin")', data).done(function (rs) {
                        if (rs == "1") {
                            ShowToast.success("Thành công", 3000);
                            Load();
                        }
                        else {
                            Load();
                            Swal.fire("Có lỗi!", rs, "error");
                        }
                        }).fail(function () {
                               Load();
                        });
                    }
                }
               
        }
        function DelDanhMucLoai(id) {
            if ("@bDel" == "True") {
                var data = {};
                data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();
                data.id = id;
                $.post('@Url.Action("DelDanhMucLoai", "ThongTin")', data).done(function (rs) {
                    if (rs == "1") {
                        ShowToast.success("Thành công");
                        Load();
                    }
                    else {
                        Load();
                        Swal.fire("Có lỗi!", rs, "error");
                    }

                }).fail(function () {
                    Load();
                });
            }
        }
    </script>

}
